modules = ["python-3.12", "nix"]
run = "python main.py"
compile = "make"

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "python main.py"]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "make"]

[[ports]]
localPort = 80
externalPort = 80
